<%- include('includes/header') -%>

    <form class="form" action="/admin/my-payment" method="post">
       <div class="">
        <label for="department name"> Department </label>
        <select name="" id="">
            <option value=""> Department of Computer Science  </option>
            <option value=""> Department of Biological Science </option>   
        </select>
       </div>


       <div class="">
        <label for="department name"> Student Name </label>
        <input type="text" name="student_name" placeholder=" Department ">
       </div>

       <div class="">
        <label for="department name"> Student ID  </label>
        <input type="text" name="student_id" placeholder=" Department ">
       </div>


       <div class="">
        <label for="department name">  Student Level   </label>
        <input type="text" name="student_level" placeholder=" Department ">
       </div>


       <div class="">
        <label for="department name">   Amount  </label>
        <input type="text" name="dues_amount" placeholder=" Department ">
       </div>

    </form>



<%- include('includes/footer') -%>
    
    