
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle  %></title>

  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="/dist/plugins/bootstrap/css/bootstrap.css">


  <!-- FONTAWESOME CSS -->
  <link rel="stylesheet" href="/dist/plugins/font-awesome/css/font-awesome.css">

  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/dist/custom/css/main.css">

  <!-- JQUERY JS -->
  <script src="/dist/plugins/jquery/jquery.3.2.1.min.js"></script>
</head>
<body>




    


   

