<%- include('includes/header') -%>
<style>
    a{
        text-decoration: none;
        color: white;
    }

    ul,li{
        list-style: none;
    }

    body{
        background-color: black;
        text-align: center;
        color: white;
    }


</style>

<!-- <h4> Homepage  </h4> -->
<p> <a href="/login"> Getting Started </a> </p>

<%- include('includes/footer') -%>


