<ul class='list-unstyled custom-nav'>
    <li class="custom-nav__link">
      <a href="/admin/dashboard" class=""><label for=""><i class="fa fa-windows"></i> Dashboard</label></a>
    </li>
    <!-- <li class="custom-nav__link">
      <a href="/admin/my-cards" class=""><label for=""><i class="fa fa-folder-o"></i> My cards</label></a>
    </li> -->
    <!-- <li class="custom-nav__link">
      <a href="/admin/my-transcations" class=""><label for=""><i class="fa fa-database"></i> Transactions</label></a>
    </li> -->
    <li class="custom-nav__link">
      <a href="/admin/my-payments" class=""><label for=""><i class="fa fa-money"></i> Payments</label></a>
    </li>
    <li class="custom-nav__link">
      <a href="/admin/my-services" class=""><label for=""><i class="fa fa-braille"></i> All services</label></a>
    </li>
   
    <li class="custom-nav__link">
      <a href="/admin/my-receipts" class=""><label for=""><i class="fa fa-newspaper-o"></i> Receipt </label></a>
    </li>
    <li class="custom-nav__link">
      <a href="/login" class=""><label for=""><i class="fa fa-sign-out"></i>  Logout </label></a>
    </li>
  </ul>
